<p>This is the new users view!</p>

<!-- <%= form_tag("/users#create", method: "post") do %>
  <%= label_tag('user[email]','Email:') %>
  <%= text_field_tag("user[email]") %><br>
  <%= label_tag('user[email]','Username:') %>
  <%= text_field_tag("user[username]") %><br>
  <%= label_tag('user[email]','Password:') %>
  <%= password_field_tag(name=("user[password]")) %><br>
  <%= submit_tag("Submit") %>
<% end %> -->

<%= form_for @user do |u| %>
  Username:<%= u.text_field :username %>
  Email:<%= u.text_field :email %>
  Password:<%= u.password_field :password %>
  <%= u.submit %>
<% end %>